.text{
    color:#19B30C;
}
.header{
    display: flex;
}
.left-text{
font-weight: 900;
font-size: 50px;
width: 49%;
}
.ourstory{
    padding: 10px;
}
.right-section{
    font-weight: 200;
    font-size: 12px;
    width: 38%;
}