<app-header-nav></app-header-nav>
<div style="font-size: 38px;display: flex;padding: 0;">
    <div style="flex: 1;padding: 30px; background-color: #081F13;">
        <div style="color: #FFC222;">ON STOP SOLUTION</div>
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <div style="color: #fff;">Connecting Talents and Companies.</div>
            <div style="display: flex; gap: 10px;">
                <span style="color: #13F000;font-weight: 500;">HyperBrains</span>
                <span style="color: #fff;">the AI way</span> 
            </div>    
        </div>
        <div>
            <button style="background-color: 
            #FFFFFF;color: #171C17;border-radius: 24px;padding: 10px 30px; font-size: 24px; font-weight: 500;
            ">Explore</button>
        </div>
    </div>
    <div style="flex: 1;">
        <img src="assets/landing-background.png" alt="" style="width: 100%;">
    </div>
    <div class="ourstory">
        <span>OUR STORY </span>
        <div class="header">
            <span>matching developers with great companies with </span>
            <span>HiperBrains is designed for organizations, institutions, and recruiters to substantially improve their screening processes, hire faster, and save hundreds of hours.</span>
        </div>
        <div class="img">

        </div>
    </div>
    
</div>
<!-- <div class="ourstory">
    <span class="text">OUR STORY </span>
    <div class="header">
        <span class ="left-text">matching developers with great companies with </span>
        <span class="right-section">HiperBrains is designed for organizations, institutions, and recruiters to substantially improve their screening processes, hire faster, and save hundreds of hours.</span>
    </div>
    <div class="img">
        <img src="" alt="" srcset="">

    </div>
</div> -->

