#svg-container line {
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 5;
}
#left-first-div {
    position: relative;
}

.text{
    color:#19B30C;
}
.header{
    display: flex;
}
.left-text{
font-weight: 900;
font-size: 50px;
width: 49%;
}
.ourstory{
    padding: 50px 80px;
    .story-head {
        color: #19B30C;
        font-weight: 500;
        font-size: 20px;
    }
    .story-desc{
        display: flex;
        gap: 20px;
        flex-direction: row; 
        justify-content: space-between;  
        margin-top: 15px;
        padding-bottom: 10px;
        flex-wrap: wrap;
        .left-story {
            font-size: 29px;
            font-weight: 400;
            flex-basis: 40%;
        }  
        .right-story {
            font-size: 20px;
            font-weight: 400;
            flex-basis: 40%;
            color: #464646;
        }
        .img-story {
            width: 100%;
            height: 532px;
        }
    }
}
.right-section{
    font-weight: 200;
    font-size: 12px;
    width: 38%;
}

.landing-first-section {
    width: 100%;
    padding: 75px 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 30px;
    background: url('/assets/landing-background.png') no-repeat;
    background-size: 100% 100%;
}

.landing-mid-section {
    width: 100%;
    padding: 75px 80px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 30px;
    background: url("/assets/back-green.png") no-repeat;
    background-size: 100% 100%;
    .left-mid {
        display: flex; 
        flex-direction: column; 
        gap: 20px;
        flex: 1;
        flex-wrap: wrap;
    }
    .right-mid {
        color: #fff;
        flex: 1;
        flex-basis: 200px;
        font-size: 20px;
    }
}

.news-carousel {
    .news-head {
        font-size: 24px;
    }

    .read-more {
        color: #4586FF;
        display: flex;
        gap: 5px;
        cursor: pointer;
    }
}

.product-of-hiper{
    padding: 50px;
    position: relative;
    .head-product-hiper {
        font-size: 32px;
        padding-left: 22px;
    }
    ::ng-deep .p-carousel-prev {
        position: absolute;
        left: 47%;
        bottom: 10px;
        transform: translatex(-50%);
        border: 1px solid #D9D9D9;
    }
    ::ng-deep .p-carousel-next {
        position: absolute;
        left: 52%;
        bottom: 10px;
        transform: translatex(-50%);
        border: 1px solid #D9D9D9;
    }

    .poh-section {

        .poh-desc-section {
            padding: 0px 32px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: -14px;

            .poh-head {
                font-size: 24px;
                color: #171C17;
            }

            .poh-desc {
                font-size: 16px;
                color: #464646;

            }
            .read-more {
                color: #4586FF;
                display: flex;
                gap: 10px;
                align-items: center;
                cursor: pointer;
            }
        }
    }

}

.decision-diagram {
    background-color: #E0EDE6;
    padding: 83px;
    display: flex;
    gap: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
    .left-decision-diagram,.right-decision-diagram {
        display: flex;
        flex-direction: column;
        gap: 60px;  
    }
    .outer-card{
        padding-bottom: 31px;
        position: relative;
        // border: 1px solid red;
        width: 222.4px;
        // position: absolute;
        // top: 50px;
        // left: 100px;
        >img {
            width: 32px;
            height: 30px;
            position: absolute;
            left: 50%;
            bottom: 0px;
            transform: translateX(-50%);
        }
        .decision-card {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding: 8px 72px;
            background-color: #FFFFFF;
            border-bottom: 4px solid #19B30C;
            width: fit-content;
            border-radius: 10px;
            >img {
                width: 62px;
                height: 62px;
            }
        }
    }
}


